@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(255, 176, 112, 0.1);
}

header {
  height: 100vh;
  width: 100%;
  display: flex;
  border: 20px solid black;
}

main {
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 60%;
}

main a {
  color: black;
}

main p {
  text-align: justify;
}

main button {
  width: 40%;
  border: none;
  padding: 15px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(248, 195, 95);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.2s all ease-in;
  display: block;
}

main button:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.2);
}

main button:focus {
  outline: none;
}

.suzanne {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divider {
  width: 1%;
  max-height: 100vh;
  background-color: rgba(255, 176, 112, 0.2);
}

.suzanne-img {
  background-image: linear-gradient(rgba(243, 186, 95, 0.2), rgba(0, 0, 0, 0.5)),
    url("images/suzanne.jpg");
  background-size: cover;
  background-position: center center;
  width: 90%;
  min-height: 80vh;
}

i.bar {
  color: white;
}

nav a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

nav a.bar {
  color: white;
}

#nav {
  align-self: start;
  width: 100%;
  margin: 0 auto;
  transition: 0.2s ease-in background-color;
}

#nav.bar {
  align-self: start;
  width: 100%;
  margin: 0 auto;
  transition: 0.2s ease-in background-color;
  position: fixed;
  background-color: rgba(39, 39, 39);
  width: 100%;
  left: 0;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

nav ul.bar {
  width: 60%;
  margin: 0 auto;
}

nav li {
  cursor: pointer;
}

ul i,
ul,
li {
  margin: 0 10px;
}

ul i {
  color: rgb(65, 65, 65);
  transition: 0.1s all ease-in;
}

li:hover > i {
  color: rgb(64, 231, 100);
}

.biography-content {
  text-align: center;
}

.biography,
.works {
  padding: 60px 0;
  border-bottom: 20px black solid;
}

.interview {
  padding: 60px 0;
}

.biography h1,
.works h1,
.interview h1,
main h1 {
  font-size: 72px;
}

.work h1 {
  font-size: 40px;
}

.biography p {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
}

.biography img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  box-shadow: 1px 6px 6px 0px rgba(0, 0, 0, 0.4);
}

.biography img,
.biography p,
.interview p,
.interview h1 {
  margin-top: 20px;
}

.interview-content {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.interview-content p {
  text-align: justify;
}

.works-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.work img {
  width: 250px;
  object-fit: cover;
  object-position: center center;
}

.work:nth-child(even) img {
  order: 1;
}

.work:nth-child(even) {
  text-align: right;
}

.work {
  background-color: rgb(255, 255, 255, 0.5);
  box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  margin-top: 50px;
  width: 100%;
  min-height: 400px;
}

.work div {
  align-self: center;
  padding: 30px;
}

footer {
  background-color: rgb(39, 39, 39);
  padding: 20px;
  color: white;
}

.icons {
  display: flex;
  justify-content: center;
}

footer i {
  margin: 0 30px;
  cursor: pointer;
}

footer i:hover {
  color: rgb(214, 214, 214);
}

footer p {
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 1000px) {
  .biography p {
    width: 100%;
  }
  .work {
    flex-direction: column;
  }
  .work:nth-child(even) img,
  .work:nth-child(odd) img {
    order: 0;
    align-self: center;
    margin-top: 20px;
  }
  .work img {
    height: 400px;
  }
  .work div {
    text-align: center;
  }
  .interview-content {
    width: 100%;
  }
  header {
    flex-direction: column;
    height: auto;
    border: none;
    border-bottom: 20px solid black;
  }
  main {
    width: 100%;
    order: 1;
  }
  .suzanne {
    width: 100%;
    order: 0;
  }
  main button {
    width: 100%;
    margin-bottom: 40px;
  }
  .main-container {
    width: 80%;
    text-align: center;
  }
  nav a {
    font-size: 14px;
  }
  #nav {
    width: 90%;
  }
  ul i,
  ul,
  li {
    margin: 0;
  }
  .biography h1,
  .works h1,
  .interview h1,
  main h1 {
    font-size: 50px;
  }
  .biography img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 1px 6px 6px 0px rgba(0, 0, 0, 0.4);
  }
  .work h1 {
    font-size: 30px;
  }
  nav ul.bar {
    width: 90%;
  }
  .interview img {
    width: 200px;
  }
  .interview {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .biography {
    width: 90%;
    margin: 0 auto;
  }
  .biography p {
    text-align: center;
  }
  p {
    font-size: 12px;
  }
  .fa-bookmark {
    display: none;
  }
}

@media (max-width: 1200px) {
  .works-content {
    width: 90%;
  }
}
